<!DOCTYPE html>
<head>
<title>Home</title>
</head>
<body>
<h1>This is Home page</h1>
<h2>Life is short, I use Python</h2>

<div>
    <ul class="nav navbar-nav navbar-right" stytle="margin-right:10px">
        {% if user.is_authenticated %}
        <li><a href="#">{{ user.username }}</a></li>
        <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
        {% endif %}
    </ul>
</div>

</body>
</html>
